{% extends "@LicEcommerce/layout.html.twig" %}

{% block title %}{{ parent() }}:Accueil{% endblock title%}
{% block vue %}<body><h1>Bienvenue sur notre site de E-Commerce !</h1></body> {% endblock %}

