{% extends "@LicEcommerce/layout.html.twig" %}

{% block title %}{{ parent() }}Deconnexion{% endblock %}
{% block titre_principale %}Deconnexion réussit {% endblock %}
{% block vue %}
    <body>
    Au revoir !
    </body>
{% endblock %}